.btn-original {
    background-color: rgba(255, 102, 140, 0.555);
    margin: 0px 22px;
    width: 200px;
}
.display_flex{ 
    display: flex;
    flex-flow: row nowrap;
}
.img-product {
    width: 280px;
    height: 400px;
    padding: 10px 10px;
    object-fit: cover;
  }
  .descripcion{
    padding-right: 100px;
  }