.block {
  display: block;
}
.btn-rosa {
  background-color: rgb(255, 206, 218);
  width: 40px;
  height: 40px;
  margin: 20px 20px 20px 30px;
}
.btn-rosalight {
  background-color: rgba(255, 102, 140, 0.555);
  margin: 0px 22px;
  width: 200px;
}
.number {
  font-size: 20px;
  margin: 0px 5px;
}
